body {
  margin: 0;
  height: 100vh;
  font-family: "Baloo Tamma 2", cursive;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: "Montserrat";
  font-size: 7em;
  text-transform: uppercase;
  width: auto;
  line-height: 0.8em;
  border: 5px solid black;
  padding: 0.2em;
  z-index: 100;
}

canvas {
  position: absolute;
}

.fullscreen,
.exitfullscreen,
.settings,
.information {
  width: 8vh;
  padding: 1em;
  position: absolute;
  transition: width 0.3s ease-in;
  z-index: 100;
}

.fullscreen,
.exitfullscreen {
  right: 0;
  bottom: 0;
}

.settings {
  right: 0;
}

.information {
  left: 0;
}
.fullscreen:hover,
.exitfullscreen:hover,
.settings:hover,
.information:hover {
  width: 9vh;
}

#hidden {
  display: none;
}

.settings-menu,
.information-menu {
  width: 50vh;
  height: 20vh;
  margin: 1em;
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: darkgrey;
  border-radius: 10px;
  opacity: 0.3;
}

.settings-menu {
  right: 0;
}

.information-menu {
  left: 0;
}

.settings-form div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
}
