svg {
  display: block;
  width: 40%;
  height: auto;
  margin: 4em auto;
}

.summer,
.winter {
  fill: rgb(167, 168, 168);
}

.summerColor {
  fill: rgb(165, 223, 111);
}

.summerColor:hover,
.summer:hover {
  fill: rgb(88, 155, 25);
  transition: fill 0.3s ease-in;
}

.winterColor {
  fill: #6063b4;
}

.winterColor:hover,
.winter:hover {
  fill: #181eb9;
  transition: fill 0.3s ease-in;
}
