body {
  margin: 0;
  height: 100vh;
  font-family: "Baloo Tamma 2", cursive;
}

h1 {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: "Montserrat";
  font-size: 7em;
  text-transform: uppercase;
  width: auto;
  line-height: 0.8em;
  border: 5px solid black;
  padding: 0.2em;
  z-index: 100;
}

canvas {
  display: block;
  position: absolute;
}

#hidden {
  display: none;
}

/* Stýringar á staðsetningum á svg merkjum og hover stækkun */
.fullscreen,
.exitfullscreen,
.settings,
.information {
  width: 8vh;
  padding: 1em;
  position: absolute;
  transition: width 0.3s ease-in;
  z-index: 100;
}

.fullscreen,
.exitfullscreen {
  right: 0;
  bottom: 0;
}

.settings {
  right: 0;
}

.information {
  left: 0;
}
.fullscreen:hover,
.exitfullscreen:hover,
.settings:hover,
.information:hover {
  width: 9vh;
}

/* Útlit og staðsetning á info og settings gluggum */
.settings-menu,
.information-menu {
  width: 25%;
  margin: 1em;
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: darkgrey;
  border-radius: 10px;
  opacity: 0.3;
}

.settings-menu {
  right: 0;
}

.information-menu {
  left: 0;
  padding: 1em;
}

/* Útlit á tökkum og upplýsingum í info glugga */

.information-menu > div {
  border-radius: 5px;
  background-color: #ddd;
  transition: background-color 0.5s ease-in;
  float: right;
  margin-top: 1em;
}

.info_controls {
  margin-top: 0 !important;
}

.info_controls,
.info_markings {
  height: 2em;
  width: 70%;
  float: right;
}

.info_controls:hover,
.info_markings:hover {
  background-color: rgb(128, 128, 128);
}

.info_controls p,
.info_markings p {
  margin: 0 auto;
  padding: 0 1em;
}

.markings,
.controls {
  width: 100%;
}

.controls p {
  padding: 0 1em;
}

.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.image_div > img {
  width: 3em;
}

.leftmouse,
.rightmouse,
.middlemouse {
  height: 3em;
}

.slash {
  height: 4em;
}

.leads {
  margin: 0 1.5em;
}

.markings div {
  display: flex;
  align-items: center;
}

.markings div span {
  height: 7px;
  border-radius: 5px;
  margin: 0 1em 0 1em;
  width: 3em;
}

.boulder {
  background-color: #ffb61e;
}

.sport {
  background-color: #e74a3d;
}

.trad {
  background-color: #fff;
}

.ice {
  background-color: #000080;
}

.mixed {
  background-color: #1e5631;
}

.alpine {
  background-color: #f05e23;
}

.decent {
  background-color: #cc8899;
}

/* Útlit á innihaldi settings glugga */
.settings-form div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
}
